﻿@model PIPAFU.Models.Curso

@{
    ViewData["Title"] = "Criar Curso";
}

<h1>@ViewData["Title"]</h1>

@*<h4>Curso</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                @*<input asp-for="Descricao" class="form-control" />*@
                <textarea asp-for="Descricao" class="form-control" type="text"></textarea>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <input asp-for="ApplicationUserId" value="@ViewData["Professor"]" class="form-control" hidden /> <!--Add criador do curso-->
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>

        <div>
            <a asp-action="Index" class="btn btn-secondary">Voltar para a lista</a>
        </div>

    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <img src="~/Arquivos/icone-video-laranja.png" alt="Tablet" class="embed-responsive"/>
        </section>
    </div>
</div>

@section Scripts { <!--não sei se precisa-->
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}