﻿@model PIPAFU.Models.Curso

@{
    ViewData["Title"] = "Editar Curso";
}

<h1>Editar Curso</h1>

<h4>@Model.Nome</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ApplicationUserId" /> <!--Mantém valor da FK-->
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="Data" class="control-label"></label>
                    <input asp-for="Data" class="form-control" />
                    <span asp-validation-for="Data" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                @*<input asp-for="Descricao" class="form-control" />*@
                <textarea asp-for="Descricao" class="form-control" type="text"></textarea>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-action="Index" class="btn btn-secondary" >Voltar para a lista</a>
        </div>

    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <img src="~/Arquivos/icone-video-laranja.png" alt="Tablet" class="embed-responsive" />
        </section>
    </div>
</div>

@section Scripts { <!--não sei se precisa-->
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}