﻿@model IEnumerable<PIPAFU.Models.Curso>

@{
    ViewData["Title"] = "Meus Cursos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-secondary">Novo Curso</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr class="table-active">
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professor.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Index", "Videos", new { cursoId = item.Id, editar = true })" class="btn btn-outline-primary">@Html.DisplayFor(modelItem => item.Nome)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Professor.NomeUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Professor.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Detalhar</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-secondary">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
