﻿@model PIPAFU.Models.ViewModels.VideoViewModel

@{
    ViewData["Title"] = "Adicionar Vídeo";
}

<h1>@Model.Curso.Nome</h1>

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @*<form asp-action="Create">*@
        <div class="form-group">
            @using (@Html.BeginForm("Create", "Videos", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Video.Nome" class="control-label"></label>
                    <input asp-for="Video.Nome" class="form-control" />
                    <span asp-validation-for="Video.Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Video.Descricao" class="control-label"></label>
                    @*<input asp-for="Video.Descricao" class="form-control" type="text" />*@
                    @*@Html.TextBoxFor(m => m.Video.Descricao, new { @class = "form-control" })*@
                    <textarea asp-for="Video.Descricao" class="form-control" type="text" placeholder="Nesta videoaula..."></textarea>
                    <span asp-validation-for="Video.Descricao" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                        <label asp-for="Video.ClipId" class="control-label"></label>
                        <input asp-for="Video.ClipId" class="form-control" />
                        <span asp-validation-for="Video.ClipId" class="text-danger"></span>
                    </div>*@
                <div class="row">
                    <div class="col-md-4">
                        <input type="file" id="file" name="file" />

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Adicionar</button>
                        </div>
                    </div>
                </div>
                @*<input asp-for="Video.Data.Date" value="@DateTime.Now" class="form-control" hidden />*@
                <input asp-for="Video.CursoId" value="@Model.Curso.Id" class="form-control" hidden /> <!--Add criador do curso-->
            }
        </div>
        @*<div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>*@
        @*</form>*@
        <div>
            @*<a asp-action="Index">Voltar para a lista</a>*@
            <a href="@Url.Action("Index", "Videos", new { cursoId = Model.Curso.Id, editar = true })" class="btn btn-secondary">Voltar para a lista</a>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <img src="~/Arquivos/icone-video-laranja.png" alt="Tablet" class="embed-responsive" />
        </section>
    </div>
</div>