﻿@model PIPAFU.Models.Video

@{
    ViewData["Title"] = "Apagar Vídeo";
}

<h1>@ViewData["Title"]</h1>

<h3>Tem certeza que deseja apagar o vídeo: @Model.Nome?</h3>
<div>
    @*<h4>Video</h4>*@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> 
@*        <a asp-action="Index">Voltar para a lista</a>*@
        <a href="@Url.Action("Index", "Videos", new { cursoId = Model.CursoId, editar = true })" class="btn btn-secondary">Voltar para a lista</a>
    </form>
</div>
