﻿@model PIPAFU.Models.Video

@{
    ViewData["Title"] = "Detalhes do Vídeo";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>@Model.Nome</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a> 
    @*<a asp-action="Index">Voltar para a lista</a>*@
    <a href="@Url.Action("Index", "Videos", new { cursoId = Model.CursoId, editar = true })" class="btn btn-secondary">Voltar para a lista</a>
</div>
