﻿@model PIPAFU.Models.Video

@{
    ViewData["Title"] = "Editar Vídeo";
}

<h1>@ViewData["Title"]</h1>

<h4>@Model.Nome</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <textarea asp-for="Descricao" class="form-control" type="text"></textarea>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="ChunkSize" class="control-label"></label>
            <input asp-for="ChunkSize" class="form-control" />
            <span asp-validation-for="ChunkSize" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BytesWritten" class="control-label"></label>
            <input asp-for="BytesWritten" class="form-control" />
            <span asp-validation-for="BytesWritten" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="IsVerifiedComplete" /> @Html.DisplayNameFor(model => model.IsVerifiedComplete)
            </label>
        </div>
        <div class="form-group">
            <label asp-for="ClipUri" class="control-label"></label>
            <input asp-for="ClipUri" class="form-control" />
            <span asp-validation-for="ClipUri" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FileLength" class="control-label"></label>
            <input asp-for="FileLength" class="form-control" />
            <span asp-validation-for="FileLength" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ClipId" class="control-label"></label>
            <input asp-for="ClipId" class="form-control" />
            <span asp-validation-for="ClipId" class="text-danger"></span>
        </div>*@
        <div class="form-group">
            <input type="submit" value="Salvar" class="btn btn-primary" />
        </div>
        </form>
        <div>
            @*<a asp-action="Index">Voltar para a lista</a>*@
            <a href="@Url.Action("Index", "Videos", new { cursoId = Model.CursoId, editar = true })" class="btn btn-secondary">Voltar para a lista</a>
        </div>

    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <img src="~/Arquivos/icone-video-laranja.png" alt="Tablet" class="embed-responsive" />
        </section>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
