﻿@model IEnumerable<PIPAFU.Models.Video>

@{
    ViewData["Title"] = "Vídeos";
}

<h1>@ViewData["nomeCurso"] </h1>

<p>
    @if ((bool)ViewData["Editar"])
    {
        <a href="@Url.Action("Create", "Videos", new { cursoId = ViewData["cursoId"]})" class="btn btn-secondary">Adicionar Vídeo</a>
    }
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr class="table-active">
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ChunkSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BytesWritten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsVerifiedComplete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClipUri)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.FileLength)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.ClipId)
            </th>*@
            @if ((bool)ViewData["Editar"])
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Video", "Videos", new { clipId = item.ClipId.Value, cursoId = ViewData["cursoId"] })" class="btn btn-outline-primary">@Html.DisplayFor(modelItem => item.Nome)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelIem => item.Data)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.ChunkSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BytesWritten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsVerifiedComplete)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClipUri)
                </td>*@
                @*<td>
                    @Html.Displayfor(modelItem => item.FileLength)
                </td>*@
                @*<td>
                    @Html.DisplayFor(modelItem => item.ClipId)
                </td>*@
                @if ((bool)ViewData["Editar"])
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Detalhar</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-secondary">Apagar</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
