﻿@model PIPAFU.Models.ViewModels.VideoViewModel

@{
    ViewData["Title"] = "Videoaula";
}

<h1>@Model.Curso.Nome @*- @Model.Curso.Professor.NomeUsuario*@</h1>
<h2>@Model.Video.Nome</h2>

<style>
    .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
    }

        .embed-container iframe,
        .embed-container object,
        .embed-container embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
</style>

<div class="row">
    <div class="col-lg-8">
        <div class="embed-container">
            <iframe src="https://player.vimeo.com/video/@Model.Video.ClipId" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            @*<a asp-action="DeleteVideo" asp-route-clipid="@Model.ClipId.Value">Delete By ClipId</a>*@
        </div>
    </div>
    <div class="col-lg-4">
        <div class="bs-component">
            <div class="list-group">
                <div class="list-group-item list-group-item-action active">
                    <b>Descrição: </b>
                    <p>@Model.Video.Descricao</p>
                </div>
                <br />
                @{
                    int i = 1;
                    @foreach (var item in Model.Videos)
                    {
                        <a class="list-group-item list-group-item-action" href="@Url.Action("Video", "Videos", new { clipId = item.ClipId.Value, cursoId = item.Curso.Id })">@i.- @Html.DisplayFor(modelItem => item.Nome)</a>
                        i++;
                        @*<a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                            <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>*@
                    }
                }
            </div>
            @*<button class="source-button btn btn-primary btn-xs" role="button" tabindex="0">&lt; &gt;</button>*@
        </div>
    </div>
</div>