﻿@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutIndex";
}

<div>
    <h1 class="display-4 titulo text-center">Plataforma Inspirar Para O Futuro</h1>
    <section class="pipafu" @*class="imagem" id="img01"*@>
        <p>
            <br>
            <br>
            <br>
            <br>
        </p>
    </section>

    <section class="normal conteudo row" style="margin:0; padding-bottom:0">
        <div class="col-md-6">
            <p>
                PIPAFU é uma plataforma de ensino para crianças e adolescentes, onde o foco é disponibilizar cursos em diversas áreas afim, para poder dar um reforço ao estudo individual.
            </p>
        </div>
        <div class="col-md-6">
            <img src="~/Arquivos/tablet recortado-paint-500g.png" alt="Tablet" class="embed-responsive" />
        </div>
    </section>

    <section class="pipafu row" style="padding-left:0px; margin:0">
        <p class="col-md-1">
            <!--se tiver linha branca na lateral, colocar: 4 4 4 -->
        </p>
        <p class="imagem col-md-4">
            A plataforma além de
            disponibilizar cursos,
            proporciona motivações
            de protagonismo e
            liderança.
        </p>
        <p class="col-md-2">
        </p>
        <p class="imagem col-md-4">
            Os alunos têm
            facilidade para
            acessar e fazer os
            cursos online.
        </p>
        <p class="col-md-1">
        </p>
    </section>

    <!-- FUNDADORES -->
    <section class="normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Criadores</h2>
                    <h3 class="section-subheading" style="color: black">Quem fez o PIPAFU se tornar realidade?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 fundo">
                    <div class="team-member letra">
                        @*<img class="mx-auto rounded-circle" src="img/1.jpg" alt="">*@
                        <div>
                            @*<img alt="" class="mx-auto rounded-circle center" src="https://avatars.githubusercontent.com/u/62820018?v=4">*@
                            <img alt="" class="mx-auto rounded-circle center" src="~/Arquivos/foto-index-thamires.png">
                        </div>
                        <h4 class="text-center">THAMIRES SILVA</h4>
                        <p class="text-muted text-center">Idealizadora</p>
                        @*<p class="text-muted">
                                <small class="letra">
                                    "Satisfação em criar a plataforma que servirá para os professores disponibilizarem seus conhecimentos aos alunos :D"
                                </small>
                            </p>*@
                        @*<ul class="list-inline social-buttons">
                                <li class="list-inline-item">
                                    <a href="https://www.instagram.com/vinicius_gorgonha/" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a target="_blank" href="https://www.facebook.com/viniciusgorgonha">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>

                            </ul>*@
                    </div>
                </div>
                <div class="col-sm-4 fundo">
                    <div class="team-member letra">
                        @*<img class="mx-auto rounded-circle" src="img/2.jpg" alt="">*@
                        <div>
                            @*<img alt="" class="mx-auto rounded-circle center" src="https://avatars.githubusercontent.com/u/62820018?v=4">*@
                            <img alt="" class="mx-auto rounded-circle center" src="~/Arquivos/foto-index-bruna.png">
                        </div>
                        <h4 class="text-center">BRUNA CARDOSO</h4>
                        <p class="text-muted text-center">Idealizadora</p>
                        @*<p class="text-muted">
                                <small class="letra">
                                    "Satisfação em criar a plataforma que servirá para os professores disponibilizarem seus conhecimentos aos alunos :D"
                                </small>
                            </p>*@
                        @*<ul class="list-inline social-buttons">
                                <li class="list-inline-item">
                                    <a href="https://www.instagram.com/nahorroberto/" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a target="_blank" href="https://www.facebook.com/nahorroberto.roberto">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>

                            </ul>*@
                    </div>
                </div>
                <div class="col-sm-4 fundo">
                    <div class="team-member letra">
                        @* <img class="mx-auto rounded-circle" src="~/Arquivos/fotoLinkedin.png" alt="">*@
                        @*src="https://avatars.githubusercontent.com/u/62820018?v=4*@
                        <div>
                            @*<img alt="" class="mx-auto rounded-circle center" src="https://avatars.githubusercontent.com/u/62820018?v=4">*@
                            <img alt="" class="mx-auto rounded-circle center" src="~/Arquivos/foto-index-dimitri.png">
                        </div>
                        <h4 class="text-center">DIMITRI CAMARGO</h4>
                        <p class="text-muted text-center">Desenvolvedor</p>
                        @*<p class="text-muted">
                                <small class="letra">
                                    "Satisfação em criar a plataforma que servirá para os professores disponibilizarem seus conhecimentos aos alunos :D"
                                </small>
                            </p>*@
                        @*<ul class="list-inline social-buttons">
                                <li class="list-inline-item">
                                    <a href="https://www.instagram.com/eriposter/" target="_blank">
                                        <i class="fab fa-instagram">aqui</i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a target="_blank" href="https://www.facebook.com/eric.luis.56">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>

                            </ul>*@
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <p @*class="large text-muted"*@>
                        Quem compartilha o que sabe muda a história de quem aprende.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
@*</body>*@

<style>
    section {
        padding-top: 10vh;
        padding-bottom: 10vh;
        line-height: 2em;
        padding-left: 30px;
        font-family: var(--fonte3);
        font-size: 3.5vw;
        padding-left: 0;
    }

        section.conteudo { /* eu que fiz*/
            padding-top: 10vh;
            padding-bottom: 10vh;
            line-height: 2em;
            padding-left: 30px;
            font-family: var(--fonte3);
            font-size: 2.8vw;
        }

        section > p {
            padding-bottom: 2em;
        }

        section.normal {
            background-color: white;
            color: black;
            padding-left: 0;
            text-align: justify;
        }

        section.imagem {
            background-color: rgb(51, 51, 51);
            color: white;
            box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.445);
            background-size: cover;
        }

            section.imagem > p {
                /* width: 400px; */
                display: inline-block;
                padding: 5px;
                background-color: rgba(0, 0, 0, 0.521);
                text-shadow: 1px 1px 0px black;
            }

    div.fundo {
        box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.445);
        /*background-color: #EF4537;*/
        padding-top: 15px;
        padding-left: 30px;
        background-color: #FBE959;
        /*padding-right: 30px;*/
        /*margin-left: 1px;*/
        /*margin-right: 1px;*/
    }

    p.imagem {
        /*background-color: rgb(51, 51, 51);*/
        color: white;
        box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.445);
        /*background-size: cover;*/
        display: inline-block;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.521);
        text-shadow: 1px 1px 0px black;
        font-size: 2vw;
        text-align: justify;
    }

    .corPipafuLaranja {
        color: #F36B39;
    }

    .corPipafuVermelha {
        color: #EF4537;
    }

    .letra {
        font-family: var(--fonte3);
        font-size: 1.5vw;
        /*text-align: justify;*/
    }
</style>