﻿@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmação de esquecimento de senha";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor verifique seu email para resetar sua senha.
</p>

